* {
    margin: 0px; 
    padding: 0px; 
    color: white; 
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
}

.justaround {
    justify-content: space-around;
}

.justbetween {
    justify-content: space-between;
}

.aligncenter {
    align-items: center;
}

.nav { 
    background-color: rgb(51, 51, 51);
    padding: 10px 20px;
    width: 800px;
}

.nav-links {
    gap: 20px;
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    background-color: rgb(23, 162, 184);
    padding: 5px 10px;
    border: solid 3px black;
    box-shadow: 2px 2px 2px black;
}