* {
    margin: 0px; 
    padding: 0px;
}

.flex {
    display: flex;
}

.flexdown {
    flex-direction: column;
}

.justbetween {
    justify-content: space-between;
}

.justaround {
    justify-content: space-around;
}

.justevenly {
    justify-content: space-evenly;
}

.aligncenter {
    align-items: center;
}

#container {
    background-color: lightgray;
    padding: 0px 20px 20px 20px;
    width: 740px;
    border-top: solid 2px black;
    gap: 20px;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    padding-top: 20px;
}

p {
    font-family: sans-serif;
    text-align: center;
}

img.octocat {
    height: 200px; 
}

#first_row {
    background-color: skyblue;
    padding: 20px;
}

#second_row {
    background-color: rosybrown;
    padding: 20px;
}

#third_row {
    background-color: white;
    padding: 20px;
}