* {
    margin: 0;
    padding: 0;
    font-family: cursive;
    font-weight: lighter;
}

#wrapper {
    padding-top: 40px;
}

.flex {
    display: flex;
}

.flexdown {
    flex-direction: column;
}

.justaround {
    justify-content: space-around;
}

#usercard {
    width: 600px;
}

#location {
    height: 13px;
    margin-right: 3px;
}

#gear {
    height: 13px;
    margin-right: 7px;
}

#profile_picture {
    height: 70px;
    position: relative;
    top: 35px; 
    left: 30px;
    border: solid 3px white;
    border-radius: 50%;
    outline: solid 3px lightgray;
}

#top_bar {
    background-color: rgb(23, 162, 184);
}

#main_body {
    padding: 30px 20px 20px 20px;
    border: solid lightgray 3px;
    border-top: none;
    gap: 5px;
}